<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
<listener class-name="resources.ExtentReporterNG" /> 
        </listeners>    
	
	<test name="Test1">
	<packages>
	<package name="Mobile"> </package>
	<package name="Academy"></package>
	
	
		
		</packages>
	</test> 
</suite> 
